<!-- File Name: bottom_nav.ejs
  Student Name: CHI SING LEUNG
  Student ID: 301268517
  Date: 30 Sep 2022
-->
    
    
<!-- Bottom Navigate-->
<footer>
  <nav class="navbar fixed-bottom narvbar-info bg-light">
  <div class="container-fluid">
  <h8 class="display-8 navbar-text">&copy; Copyright 2022. All Rights reserved.</h8>
  </div>
  </nav>
</footer>