<!-- File Name: about.ejs
  Student Name: CHI SING LEUNG
  Student ID: 301268517
  Date: 30 Sep 2022
-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

    <!-- Main Content-->
    <main class="container">
      <div class="container mt-3">
        <div class="mt-4 p-5 my-5 border">
          <div style="text-align: left;"><img src="Assets/images/profile.jpeg" alt="" style="width:500px;"></div>
          <p><strong>My name is Chi Sing Leung. You can call me Cyrus. I am from Hong Kong and an IT professional with more than 10 years experience in banking industry. Before coming to Canada, I worked as a software developer for system development and production support in banking industry, including delivering development projects on Cognos Business Intelligence finance system and IT infrastructure-related projects.</strong></p>
          <p><strong>I am now studying Software Engineering Technology specializing in Artificial Intelligence at Centennial College as I would like to learn some edge cutting skills.&nbsp;</strong></p>
          <a href="Assets/images/Resume.pdf" class="btn btn-outline-secondary" target="_blank" aria-current="/about">Click to View My Resume</a>
 
         </div>
        </div>

      </div>

    </main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>


