<!-- File Name: index.ejs
  Student Name: CHI SING LEUNG
  Student ID: 301268517
  Date: 30 Sep 2022
-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

    <!-- Main Content-->
    <main class="container">
      <div class="container mt-3">
        <div class="mt-4 p-5 my-5 border">
          <h1>Hello!</h1> 
          <p>My name is Chi Sing Leung. You can call me Cyrus. I am from Hong Kong and an IT professional with more than 10 years experience in banking industry.</p> 
          <p>I am ambitous to provide quality software solutions to my customers.</p>
          <div class="btn-group">
            <a href="/about" class="btn btn-outline-secondary" aria-current="/about">About Me</a>
            <a href="/projects" class="btn btn-outline-secondary">Projects</a>
          </div>
        </div>
        
      </div>

    </main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>


