<!-- File Name: project.ejs
  Student Name: CHI SING LEUNG
  Student ID: 301268517
  Date: 30 Sep 2022
-->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

    <!-- Main Content-->
    <main class="container">
      <div class="container mt-3">
        <div class="mt-4 p-5 my-5 border">
          <h1>My Projects in Banking</h1> <br>
          <h2>Financial Reporting Projects </h2>
          <p>Successfully rolled out enhancements on IFRS9 Reporting in a tight schedule using Agile/DevOps </p>
          <p>- Building a data feed containing SME customers data from a source system, which is used for FINREP SME reporting. Successfully rolled out within 2 months starting from project initiation</p>
          <p>- Implementing Collateral Net Realizable Value (NRV) solution for HKMA Collateral reporting where the collateral is allocated based on NRV instead of weighted collateral amount</p>
          <h2>Disaster Recovery Exercise for Enterprise System </h2>
          <p>Arranged role swap activity to swap production service from primary site to disaster recovery site so as to
            demonstrate business continuity for banking service and operational resilience</p>
          <h2>Evergreen Projects for Enterprise System </h2>
          <p>Delivered the Evergreen projects to comply with bank’s technology superstack requirements (3 Cognos
            migrations from version 8.4 to 10.1.1, 10.2.2 and 11, and database server migration from AIX to Linux)</p>
        </div>  
      </div>
    </main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>


