<!-- File Name: services.ejs
  Student Name: CHI SING LEUNG
  Student ID: 301268517
  Date: 30 Sep 2022
-->


<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

    <!-- Main Content-->
    <main class="container">
      <div class="container mt-3">
        <div class="mt-4 p-5 my-5 border">
          <div style="text-align: left;"><img src="Assets/images/requirement.jpeg" alt="" style="width:300px;"></div>
          <h1>Requirement Analysis</h1> <br>
          <div style="text-align: left;"><img src="Assets/images/business_intelligence.png" alt="" style="width:300px;"></div>
          <h1>Business Intelligence</h1><br>
          <div style="text-align: left;"><img src="Assets/images/disaster_recovery.png" alt="" style="width:300px;"></div>
          <h1>Disaster Recovery Plan</h1><br>
        </div>
      </div>
    </main>
    

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>


